[
    {elvis, [
        {config, [
            #{
                dirs => ["src"],
                include_dirs => ["include"],
                filter => "*.erl",
                rules => [
                    {elvis_style, function_naming_convention, disable},
                    {elvis_style, variable_naming_convention, disable},
                    {elvis_style, invalid_dynamic_call, #{
                        ignore => [miniature_engine_websocket_handler]
                    }}
                ],
                ruleset => erl_files
            },
            #{
                dirs => ["."],
                filter => "Makefile",
                ruleset => makefiles
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config
            },
            #{
                dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config
            }
        ]}
    ]}
].
