{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, [
    {cowboy, "2.6.1"},
    {gproc, "0.8.0"},
    {brod, "3.7.3"},
    {jwt, "0.1.6"},
    {jsx, "2.9.0"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [miniature_engine]}
]}.

{relx, [
    {release,
        {miniature_engine, "0.0.1"},
        [miniature_engine]
    },
    {dev_mode, false},
    {include_erts, false},
    {sys_config_src, "config/sys.config.src"},
    {extended_start_script, true}
]}.
