[
    {kernel, [
        {logger, [
            {handler, default, logger_std_h, #{
                %% formatter => {logger_formatter, #{
                %%     template => [time, " ", pid, " ", msg, "\n"],
                %%     single_line => true
                %% }}
            }}
        ]}
    ]},

    {miniature_engine, [
        {port, 3030},
        {kafka_endpoints, <<"localhost:9092">>},
        {jwt_key, <<"your-256-bit-secret">>},
        {user_claim_key, <<"user_uid">>},
        {callback_module, miniature_engine_hooks_json_ack},
        {kafka_producer_topic, <<"ws-to-kafka">>},
        {kafka_consumer_topic, <<"kafka-to-ws">>}
    ]}
].
