[
    {brod, [
        {clients, [
            {miniature_engine_producer, [
                {endpoints, [{"localhost", 9092}]},
                {restart_delay_seconds, 10},
                {auto_start_producers, true},
                {default_producer_config, [
                    {topic_restart_delay_seconds, 10},
                    {partition_restart_delay_seconds, 2},
                    {required_acks, leader_only}
                ]}
            ]},
            {miniature_engine_consumer, [
                {endpoints, [{"localhost", 9092}]},
                {restart_delay_seconds, 10}
            ]}
       ]}
    ]},

    {kernel, [
        {logger, [
            {handler, default, logger_std_h, #{
                %% formatter => {logger_formatter, #{
                %%     template => [time, " ", pid, " ", msg, "\n"],
                %%     single_line => true
                %% }},
                level => debug
            }}
        ]}
    ]},

    {miniature_engine, [
        {port, 3030},
        {jwt_key, <<"your-256-bit-secret">>},
        {user_claim_key, <<"user_uid">>},
        {kafka_producer_topic, <<"my-topic">>},
        {kafka_consumer_topic, <<"their-topic">>}
    ]}
].
