[
    {kernel, [
        {logger, [
            {handler, default, logger_std_h, #{
                %% formatter => {logger_formatter, #{
                %%     template => [time, " ", pid, " ", msg, "\n"],
                %%     single_line => true
                %% }}
            }}
        ]}
    ]},

    {miniature_engine, [
        {port, 3030},
        {ipv6, true},
        {log_level, all},
        {kafka_endpoints, <<"localhost:9092">>},
        {jwt_key, <<
            "-----BEGIN PUBLIC KEY-----\n",
            "MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAETxnDtmzcXgqyLnCeateYKKu0rtbW\n",
            "W+4/HTjSyy01j03JhOamcWrEkqEtJqDQc7LCr0oDUfa8902u5hrvL8WrdA==\n",
            "-----END PUBLIC KEY-----\n"
        >>},
        {user_claim_key, <<"user_uid">>},
        {channels_limit_per_user, 1},
        {callback_module, miniature_engine_hooks_json_ack},
        {kafka_producer_topic, <<"ws-to-kafka">>},
        {kafka_consumer_topic, <<"kafka-to-ws">>}
    ]}
].
